In [19]:
###various methods available in Python for working with Lists:extend,append(),clear(),copy(),count(),,index(),insert(),pop(),removed(),reverse(),sort(),sum,len
###syntax for list: list_name=[element,element2,element3...]
###examples for different data types: animals = ["lion", "tiger", "deer"],  numbers = [1, 2, 3, 4, 5],  mixed = ["lion", 3, True]

In [93]:
### 1.Accessing List Elements using indexing:

###You can access individual elements in a list using indexing.Python uses zero-based indexing, so the first item is at index 0
###real time example: finding the rank of a particular candidate in exam

atmosphere = ["troposphere", "stratosphere","mesosphere", "exosphere"]

print(atmosphere[0])  # Output: troposphere
print(atmosphere[2])  # Output: mesosphere
print(atmosphere.index("stratosphere"))  #will print index value of specified element (output:1)

troposphere
mesosphere
1

In [21]:
###negative indexing to access elements from the end of the list:

print(atmosphere[-1])  # Output: exosphere
print(atmosphere[-2])  # Output: mesosphere

exosphere
mesosphere

In [24]:
###2.mutable:Lists are mutable, which means you can change the value of items in a list.

#### Changing a specific element:

atmosphere[2] = "ionosphere" #replacing ionosphere in the place of index value 2
print(atmosphere) #output:['troposphere', 'stratosphere', 'ionosphere', 'exosphere']

['troposphere', 'stratosphere', 'ionosphere', 'exosphere']

In [25]:
###3.adding elements: by using append, insertion and extend methods(example:

###append():Adds an element to the end of the list
######real time example:adding a new items to the cart
atmosphere.append("crust")
print(atmosphere)  #output:['troposphere', 'stratosphere', 'ionosphere', 'exosphere', 'crust']

['troposphere', 'stratosphere', 'ionosphere', 'exosphere', 'crust']

In [27]:
###insert(): Inserts an element at a specific index
###real time example:inserting a new subject into a specific position in a timetable

atmosphere.insert(2,"rakshi")
print(atmosphere)  #output:['troposphere', 'stratosphere', 'rakshi', 'ionosphere', 'exosphere', 'crust']

['troposphere', 'stratosphere', 'rakshi', 'ionosphere', 'exosphere', 'crust']

In [1]:
###extend:extend the list by appending all items from the iterable
###real time example:adding a list of new players to an existing team

a=[1,2,3,4]
a.extend([5,6])   #prints 5 and 6 in the same list without nested list(output:[1,2,3,4,5,6])
print(a)

[1, 2, 3, 4, 5, 6]

In [2]:
b=[1,2,3,4]
b.extend("lion") #argument should enclosed with square brace otherwise it will print one word into seperate letters in the same list
print(b)

[1, 2, 3, 4, 'l', 'i', 'o', 'n']

In [3]:
c=[1,2,3,4]
c.extend(["lion"]) #output:[1,2,3,4,'lion']
print(c)

[1, 2, 3, 4, 'lion']

In [39]:
####4.Removing elements:using remove and pop
###real time example:removing a employee from emoloyee list after they resigned
###remove(): Removes the first occurrence of an element
atmosphere.remove("stratosphere") 
print(atmosphere)

['troposphere', 'ionosphere', 'crust']

In [40]:
###pop(): Removes the element at a specific index (or the last item if no index is provided)
###real time example:removing a product from a shopping cart when customer removes an item

atmosphere.pop() #removes the last item
print(atmosphere)

['troposphere', 'ionosphere']

In [47]:
earth=["crust","mantle","core","iron","alluminium"]
earth.pop()  #will remove last item
print(earth)  #output:['crust', 'mantle', 'core', 'iron']

['crust', 'mantle', 'core', 'iron']

In [48]:
earth.pop(2) #will remove the index value of an item 2
print(earth)

['crust', 'mantle', 'iron']

In [52]:
###5.clear(): Removes all elements from the list
###real time example:emptying all products in a cart
listed=[2,"lion",0.4,True,222,"medicine"] #will erase all elements in the list
listed.clear()
print(listed)

[]

In [73]:
###6.Slicing List:You can extract a portion of a list using slicing
num = [1, 2, 3, 4, 5, 6] 

print(num[1:4])     #(from index 1 to 3) and Output: [2, 3,4] 

print(numbers[:4])  # Output: [1, 2, 3,4] (from start to index 3)

[2, 3, 4]
[1, 2, 3, 4]

In [76]:
nbr=[1,2,3,4,5,6,7,8,9]
print(nbr[2:])  #from index 2 to end and output is [3,4,5,6,7,8,9]

print(numbers[::2])  #every 2nd element and Output is [1,3,5] every 2nd element

[3, 4, 5, 6, 7, 8, 9]
[1, 3, 5]

In [80]:
###6.len(list): Returns the number of elements in the list

lists=['lion',2,0.4,True,'tiger']
print(len(lists)) #will print the number of elements in the list that is 5

5

In [84]:
###7.sorted(list): Returns a new sorted list without changing the original list

numbers = [5, 2, 9, 1]
print(sorted(numbers))  # Output: [1, 2, 5, 9]
print(numbers)  # Original list remains unchanged: [5, 2, 9, 1]

[1, 2, 5, 9]
[5, 2, 9, 1]

In [85]:
###8.sort(): Sorts the list in place (ascending by default)
###real time example:sorting the names students by their initial letter
  
numbers = [5, 2, 9, 1]
numbers.sort()
print(numbers)  # Output: [1, 2, 5, 9]

[1, 2, 5, 9]

In [87]:
###9.reverse(): Reverses the elements of the list in place
###real time example:reversing the order of messages 

numb=[10,20,30,40,50,60]
numb.reverse()
print(numb)  # Output: [60, 50, 40, 30, 20, 10]

[60, 50, 40, 30, 20, 10]

In [89]:
###10.sum(list): Returns the sum of elements in a  numerical lists
###real time example:to add total employees in a factory

numbers = [1, 2, 3, 4]
print(sum(numbers))  # Output: 10

10

In [92]:
###11.count(element): Returns the number of occurrences of an element in the list
###real time example:how many students having same name in the class

team = ['csk', 'rcb', 'mi', 'rcb', 'rcb']
print(team.count('rcb'))  # Output: 3

3

In [97]:
###12.Nested Lists:Lists can contain other lists, allowing you to create nested lists.This can be useful for storing matrix-like data structures.
matrix=[[1,2,3],[2,3,4],[4,5,6]]

print(matrix[0])   #prints first row [1,2,3]
print(matrix[1])   #prints second row [2,3,4]
print(matrix[2])   #prints third row  [4,5,6]

[1, 2, 3]
[2, 3, 4]
[4, 5, 6]

In [104]:
matrix=[[1,2,3],[2,3,4],[4,5,6]]
print(matrix[1][1])

3

In [124]:
###14.finding minimum and maximum from a list
###real time example:finding a maximum(top1) and minimum(last) marks obtained by student in the class

numb=[10,56,78,89,110,560]
print("minimum element:",min(numb))  #calculates minimum of all the elements of list.output:10
print("maximun element:",max(numb))  #calculates maximun of all the elements of list.output:560

minimum element: 10
maximun element: 560

In [127]:
my=['A','B','C','D','E','F']
print("minimum value is:",min(my)) #value of A is 11
print("maximum value is:",max(my)) #value of f is 16

minimum value is: A
maximum value is: F