In [2]:
# methods in sets

# 1.set add():

vowels = {'a', 'e', 'i', 'u'}

vowels.add('o')
print('Vowels are:', vowels)


vowels.add('a')
print('Vowels are:', vowels)


# output: Vowels are: {'i', 'u', 'o', 'e', 'a'}
#         Vowels are: {'i', 'u', 'o', 'e', 'a'}

Vowels are: {'i', 'u', 'o', 'e', 'a'}
Vowels are: {'i', 'u', 'o', 'e', 'a'}

In [3]:
# Add tuple to a set

vowels = {'a', 'e', 'u'}


tup = ('i', 'o')


vowels.add(tup)
print('Vowels are:', vowels)


vowels.add(tup)
print('Vowels are:', vowels)


# output: Vowels are: {'a', ('i', 'o'), 'u', 'e'}
#         Vowels are: {'a', ('i', 'o'), 'u', 'e'}

Vowels are: {'a', ('i', 'o'), 'u', 'e'}
Vowels are: {'a', ('i', 'o'), 'u', 'e'}

In [8]:
# 2.clear() method

names = {'rakshi', 'deekshi', 'spicky'}
print('Strings (before clear):', names)


names.clear()
print('Strings (after clear):', names)


# output: Strings (before clear): {'rakshi', 'spicky', 'deekshi'}
#          Strings (after clear): set()

Strings (before clear): {'rakshi', 'spicky', 'deekshi'}
Strings (after clear): set()

In [9]:
# 3.copy()

names = {"rakshi", "Charlie", "spicky"}


new_names = names.copy()

print('Original Names: ', names)
print('Copied Names: ', new_names)

# output: Original Names:  {'Charlie', 'rakshi', 'spicky'}
# Copied Names:  {'Charlie', 'rakshi', 'spicky'}

Original Names:  {'Charlie', 'rakshi', 'spicky'}
Copied Names:  {'Charlie', 'rakshi', 'spicky'}

In [10]:
# Copy Set using = operator

names = {"John cena", "kane", "undertaker"}

new_names = names

print('Original Names: ', names)
print('Copied Names: ', new_names)

# output: Original Names:  {'kane', 'John cena', 'undertaker'}
#           Copied Names:  {'kane', 'John cena', 'undertaker'}

Original Names:  {'kane', 'John cena', 'undertaker'}
Copied Names:  {'kane', 'John cena', 'undertaker'}

In [11]:
# Adding items to the set after copy()

numbers = {1, 2, 3, 4}
new_numbers = numbers

print('numbers: ', numbers)


new_numbers.add(5)

print('new_numbers: ', new_numbers)

# output: numbers:  {1, 2, 3, 4}
#     new_numbers:  {1, 2, 3, 4, 5}

numbers:  {1, 2, 3, 4}
new_numbers:  {1, 2, 3, 4, 5}

In [12]:
# 4.Set difference()

A = {'a', 'b', 'c', 'd'}
B = {'c', 'f', 'g'}


print(A.difference(B))

print(B.difference(A))

#  used the difference() method to compute the set differences of two sets A and B.
#  A.difference(B) that is A-B returns a set with elements unique to set A
#  B.difference(A) that is B-A returns a set with elements unique to set B

# output: {'a', 'd', 'b'}
#         {'g', 'f'}

{'a', 'd', 'b'}
{'g', 'f'}

In [13]:
# Using - Operator

A = {'a', 'b', 'c', 'd'}
B = {'c', 'f', 'g'}


print(A - B)

print(B - A)

# output: {'a', 'd', 'b'}
#         {'g', 'f'}

{'a', 'd', 'b'}
{'g', 'f'}

In [14]:
# 5.difference_update()

A = {'a', 'c', 'g', 'd'}
B = {'c', 'f', 'g'}

print('A before (A - B) =', A)

A.difference_update(B)

print('A after (A - B) = ', A)

# used the difference_update() method to compute the difference between two sets A and B and update set A with the resulting set. A.difference_update(B) performs A - B and updates set A with value {'a', 'd'}

# output: A before (A - B) = {'a', 'd', 'c', 'g'}
#          A after (A - B) =  {'a', 'd'}

A before (A - B) = {'a', 'd', 'c', 'g'}
A after (A - B) =  {'a', 'd'}

In [15]:
# Set discard()

numbers = {2, 3, 4, 5}

numbers.discard(3)

print('Set after discard:', numbers)

# used discard() to remove an item from the set. The resulting set doesn't have the item 3 in it as the discard() method has removed it.

# output: set after discard: {2, 4, 5}

Set after discard: {2, 4, 5}

In [16]:
# Set discard with a non-existent item()

numbers = {2, 3, 5, 4}
print('Set before discard:', numbers)


numbers.discard(10)

print('Set after discard:', numbers)

# used the discard() method to discard the item that is not present in the set. In this case, the original set numbers i.e. {2, 3, 5, 4} are left unchanged

# output: Set before discard: {2, 3, 4, 5}
#          Set after discard: {2, 3, 4, 5}

Set before discard: {2, 3, 4, 5}
Set after discard: {2, 3, 4, 5}

In [19]:
# 6.Set intersection()

A = {1, 3, 5, 4}
B = {2, 5, 100}
C = {2, 3, 8, 9, 10}

print(B.intersection(A))
print(B.intersection(C))
print(A.intersection(C))

print(C.intersection(A, B))


# output: {5}
#         {2}
#         {3}
#       set()

{5}
{2}
{3}
set()

In [26]:
# Set Intersection Using & operator

A = {100, 7, 8}
B = {200, 4, 5}
C = {300, 2, 3, 7}
D = {100, 200, 300}

print(A & C)
print(A & D)

print(A & C & D)

print(A & B & C & D)

# output: {7}
#        {100}
#       set()
#       set()

{7}
{100}
set()
set()

In [27]:
# 7.Set disjoint()

A = {1, 2, 3}
B = {4, 5, 6}
C = {6, 7, 8}

print('A and B are disjoint:', A.isdisjoint(B))
print('B and C are disjoint:', B.isdisjoint(C))

# used isdisjoint() to check if set A, B and C are disjoint with each other.The set A and B are disjoint to each other as they do not have any common item. so it returned True. The set B and C have a common item, 6. So the method returns False.

# output: A and B are disjoint: True
#         B and C are disjoint: False

A and B are disjoint: True
B and C are disjoint: False

In [28]:
# 8.issubset()

A = {'a', 'c', 'e'}
B = {'a', 'b', 'c', 'd', 'e'}

print('A is subset of B:', A.issubset(B))
print('B is subset of A:', B.issubset(A))

# used  issubset() method to check if sets A and B are subsets of each other.Since all elements of A are present in B, the issubset(B) method returns True. On the other hand, set B is not a subset of A. Thus, we get the False with issubset(A)

# output: A is subset of B: True
#         B is subset of A: False

A is subset of B: True
B is subset of A: False

In [29]:
# 9.issuperset()

A = {1, 2, 3, 4, 5}
B = {1, 2, 3}
C = {1, 2, 3}

# Returns True
print(A.issuperset(B))

# Returns False
print(B.issuperset(A))

# Returns True
print(C.issuperset(B))

# A is said to be the superset of set B if all elements of B are in A,so it returs true

# output: True
#         False
#         True

True
False
True

In [31]:
# 10.Set union()

batsman = {'Rakshi', 'Deekshi', 'anjan'}
bowler = {'Deekshi', 'anjan', 'amith' }
all_rounder = {'anjan', 'sanjay', 'raj'}

print('batsman U bowler =', batsman.union(bowler))
print('bowler U all_rounder =', bowler.union(all_rounder))
print('batsman U bowler U all_rounder =', batsman.union(bowler, all_rounder))

print('batsman.union() =', batsman.union())



# output: batsman U bowler = {'Rakshi', 'Deekshi', 'anjan', 'amith'}
#          bowler U all_rounder = {'sanjay', 'Deekshi', 'anjan', 'amith', 'raj'}
#         batsman U bowler U all_rounder = {'sanjay', 'Rakshi', 'Deekshi', 'anjan', 'amith', 'raj'}
#       batsman.union() = {'anjan', 'Rakshi', 'Deekshi'}

batsman U bowler = {'Rakshi', 'Deekshi', 'anjan', 'amith'}
bowler U all_rounder = {'sanjay', 'Deekshi', 'anjan', 'amith', 'raj'}
batsman U bowler U all_rounder = {'sanjay', 'Rakshi', 'Deekshi', 'anjan', 'amith', 'raj'}
batsman.union() = {'anjan', 'Rakshi', 'Deekshi'}

In [33]:
# 11.symmetric_difference()

cricketer = {'dhoni', 'raina', 'kohli'}
foot_baller = {'dhoni', 'ronaldo', 'messi' }

result = cricketer.symmetric_difference(foot_baller)

print(result)

#  used symmetric_difference() to return the symmetric difference of cricketer and foot_baller to the result variable.'dhoni' is present in both sets. So, the method returns all the items of cricketer and foot_baller to result except 'dhoni'.

# output: {'kohli', 'messi', 'ronaldo', 'raina'}

{'kohli', 'messi', 'ronaldo', 'raina'}